.info__container {
  display: flex;
  justify-content: space-between;

  @include vp-1199 {
    flex-direction: column;
  }

  @include vp-767 {
    padding: 0 0 0 0;
  }
}

.info__content {
  grid-column: 1 / span 5;
  max-width: 355px;
  margin: 0 0 0 60px;
  padding: 50px 30px 0 0;

  @include vp-1199 {
    max-width: 502px;
    margin: 0 auto;
    padding: 0 0 0 0;
    text-align: center;
  }

  @include vp-767 {
    max-width: unset;
    padding: 0 15px;
    text-align: left;
  }

  h2 {
    margin: 0 0 5px 0;
    font-family: $ff-bebas;

    @include vp-1199 {
      margin: 0 0 7px 0;
    }

    @include vp-767 {
      margin: 0 0 5px 0;
    }
  }

  strong {
    display: block;
    margin: 0 0 40px 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;

    @include vp-1199 {
      margin: 0 0 35px 0;
    }

    @include vp-767 {
      margin: 0 0 24px 0;
    }
  }

  p {
    margin: 0 0 0 0;

    &:not(:last-child) {
      margin: 0 0 5px 0;

      @include vp-1199 {
        margin: 0 0 43px 0;
      }

      @include vp-767 {
        margin: 0 0 33px 0;
      }
    }

    @include vp-1199 {
      &:last-child {
        display: none;
      }
    }
  }
}

.info__media {
  flex-shrink: 0;
  position: relative;
  align-self: flex-start;

  @include vp-1199 {
    margin: 0 auto;
  }

  img {
    width: 660px;
    height: 401px;

    @include vp-1199 {
      width: 678px;
      height: 345px;
    }

    @include vp-767 {
      width: 320px;
      height: 313px;
    }
  }
}

.info__image {
  @include vp-767 {
    margin: 0 0 40px 0;
  }
}

.info__video {
  display: flex;
  position: absolute;
  left: -63px;
  bottom: -115px;

  @include vp-1199 {
    left: 50%;
    bottom: -83px;
    transform: translate(-50%, 0);
  }

  @include vp-767 {
    position: static;
    transform: unset;
  }
}

.info__player {
  position: relative;
  display: flex;
}

.info__player.is-active .info__button {
  opacity: 0;
  height: 0;
  transition-delay: 0s, 0.8s;
}

.info__frame {
  width: 364px;
  height: 228px;
  background-color: transparent;

  @include vp-1199 {
    width: 266px;
    height: 167px;
  }

  @include vp-767 {
    width: 320px;
  }
}

.info__button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/content/poster-desktop@1x.webp") no-repeat center / 100%;
  border: none;
  overflow: hidden;
  opacity: 1;
  transition: opacity 0.8s, height 0s;
  transition-delay: 0s, 0s;

  @include vp-1280 {
    @include retina {
      background-image: url("../img/content/poster-desktop@2x.webp");
    }
  }

  @include vp-1199 {
    background-image: url("../img/content/poster-tablet@1x.webp");

    @include retina {
      background-image: url("../img/content/poster-tablet@2x.webp");
    }
  }

  @include vp-767 {
    background-image: url("../img/content/poster-mobile@1x.webp");

    @include retina {
      background-image: url("../img/content/poster-mobile@2x.webp");
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: url("../img/svg/icon-play.svg");
    background-size: 100%;
    transform: translate(-50%, -50%);

    @include vp-1199 {
      width: 73px;
      height: 73px;
    }
  }

  &:hover {
    cursor: pointer;

    &::before {
      opacity: 0.9;
    }
  }
}
