.promo__container {
  display: flex;
  justify-content: center;
  column-gap: 0;

  @include vp-1199 {
    column-gap: 0;
  }

  @include vp-767 {
    flex-direction: column;
    align-items: center;
  }
}

.promo__content {
  flex: 0 0 auto;
  display: grid;
  grid-template-columns: 220px auto;
  column-gap: 33px;
  width: 500px;
  padding: 80px 77px 85px 76px;
  color: $color-default-white;
  background-color: $color-torch-red;

  @include vp-1199 {
    grid-template-columns: 120px auto;
    column-gap: 26px;
    width: 292px;
    padding: 47px 45px;
  }

  @include vp-767 {
    width: 290px;
  }

  h3 {
    margin: 7px 0 5px 0;
    font-family: $ff-bebas;
    font-weight: 700;
    font-size: 90px;
    line-height: 90px;
    letter-spacing: 0.03em;

    @include vp-1199 {
      margin: 4px 0 0 0;
      font-size: 52px;
      line-height: 52px;
    }
  }

  p {
    grid-column: 1 / -1;
    margin: 0 0 0 0;
    font-size: 18px;
    line-height: 27px;

    @include vp-1199 {
      font-size: 12px;
      line-height: 18px;
    }

    &:not(:last-child) {
      margin: 0 0 45px 0;

      @include vp-1199 {
        margin: 0 0 25px 0;
      }
    }
  }
}

.promo__date {
  display: flex;
  flex-direction: column;
}

.promo__btn {
  grid-column: 1 / -1;
  padding: 25px 30px 24px;

  @include vp-1199 {
    padding: 16px 10px 15px;
    font-size: 10px;
    line-height: 12px;
    border-width: 2px;
  }
}

.promo__media {
  flex: 0 0 auto;
  width: 660px;

  @include vp-1199 {
    width: 386px;
  }

  @include vp-767 {
    width: 290px;
  }

  img {
    width: 660px;
    height: 100%;

    @include vp-1199 {
      width: 386px;
    }

    @include vp-767 {
      width: 290px;
      height: auto;
    }
  }
}
