.container {
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 100px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 40px;

  @include vp-1199 {
    grid-template-columns: repeat(6, 1fr);
    column-gap: 30px;
    padding: 0 45px;
  }

  @include vp-767 {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 15px;
  }
}
